
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    background-color: #e8652e
}

.foottext{
    color: rgb(0, 0, 0);
    background: #4b4844;
    padding: 30px;
}